
<!DOCTYPE html>
<html>
<head>
    <title>Interests Chart</title>
</head>
<body>
    <h1>Interests Chart</h1>

    <!-- Add a form to enter the email address -->
    <!-- <form method="POST" action="/show_results">
        <label for="user_email">Enter Email Address:</label>
        <input type="text" name="user_email" id="user_email">
        <input type="submit" value="Generate Chart">
    </form>
     -->
    <!-- Add a div to display the chart -->
    <div id="interests_chart">
        {{ chart|safe }}
    </div>
</body>
</html>


